[Unit]
Description=Zabbix PostgreSQL Proxy Agent
After=syslog.target network.target postgresql.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/zabbix_proxy
RemainAfterExit=yes
User=zabbixsrv
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
