[Unit]
Description=Zabbix SQLite3 Proxy
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/zabbix_proxy
User=zabbixsrv
PIDFile=/run/zabbixsrv/zabbix_proxy.pid

[Install]
WantedBy=multi-user.target
