[Unit]
Description=Zabbix Server with PostgreSQL DB
After=syslog.target network.target postgresql.service

[Service]
Type=forking
ExecStart=/usr/sbin/zabbix_server
User=zabbixsrv
PIDFile=/run/zabbixsrv/zabbix_server.pid

[Install]
WantedBy=multi-user.target
